/* fonts family add */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{

    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    ;
}
.container{
    display: flex;
    justify-content: center;
}
/* top-player style */

.players{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
}
.player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 870px;
    height: 570px;
    background-color: #FFFFFF;
    
}



.top-player img{
    width: 56px;
    height: 58px;
    padding-left: 10px;

}